In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:


df = pd.read_csv('Envdataset.csv')

In [15]:
df['measure']

0        http://environment.data.gov.uk/hydrology/id/me...
1        http://environment.data.gov.uk/hydrology/id/me...
2        http://environment.data.gov.uk/hydrology/id/me...
3        http://environment.data.gov.uk/hydrology/id/me...
4        http://environment.data.gov.uk/hydrology/id/me...
                               ...
62530    http://environment.data.gov.uk/hydrology/id/me...
62531    http://environment.data.gov.uk/hydrology/id/me...
62532    http://environment.data.gov.uk/hydrology/id/me...
62533    http://environment.data.gov.uk/hydrology/id/me...
62534    http://environment.data.gov.uk/hydrology/id/me...
Name: measure, Length: 62535, dtype: object

In [5]:
df.shape

(62535, 7)

In [6]:


df.isna().sum()

measure             0
dateTime            0
date                0
value               0
completeness    62535
quality             0
qcode           62535
dtype: int64

In [7]:


df.duplicated().sum()

0

In [8]:


# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62535 entries, 0 to 62534
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   measure       62535 non-null  object
 1   dateTime      62535 non-null  object
 2   date          62535 non-null  object
 3   value         62535 non-null  float64
 4   completeness  0 non-null      float64
 5   quality       62535 non-null  object
 6   qcode         0 non-null      float64
dtypes: float64(3), object(4)
memory usage: 3.3+ MB

In [9]:


df.nunique()

measure             1
dateTime        62535
date              652
value            1091
completeness        0
quality             2
qcode               0
dtype: int64

In [10]:


df.describe()

              value  completeness  qcode
count  62535.000000           0.0    0.0
mean       0.859311           NaN    NaN
std        0.667702           NaN    NaN
min        0.141000           NaN    NaN
25%        0.317000           NaN    NaN
50%        0.641000           NaN    NaN
75%        1.260000           NaN    NaN
max        4.480000           NaN    NaN